.overview-container {
  overflow: auto;
}

.overview-container img {
  border-radius: 100%;

  width: 48px;
  height: 48px;
}

.overview-text {
  font-size: 12px;
}

@media (max-width: 694px) {
  .overview-container div {
    border: none !important;
  }
}
